* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #D5D4D8;
    background-color: #1f2937;
    user-select: none;
}

/* Typography */

select {
    padding: 0.5em 0.75em;
    background-color: #1f2937;
    color: #D5D4D8;
    border-radius: 6px;
}

option {
    padding: 0.5em 0.75em;
    margin: 0.5em 0.75em;
    background-color: #1f2937;
    color: #D5D4D8;
}

button {
    background-color: #3D4B60;
    border: none;
    color: #D5D4D8;
    font-size: 0.75rem;
    padding: 0.9em 0.8em;
    border-radius: 4px;
}

/* Layout */

form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.875em;
    align-items: center;
    padding: 1.5em 0.875em;
    max-width: 370px;
    margin: 0 auto;
}

.color-input {
    border: none;
    height: 2.1em;
    width: 3.5em;
}

.mode-input {
    width: 12.9em
}

.count-input {
    width: 4.1em;
    text-align: center;
}

.color-display {
    margin-bottom: 0.5em;
}

.ind-color-div {
    display: flex;
}

.hex-value {
    font-size: 0.75rem;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.color {
    height: 65px;
    width: 80%;
}

input:hover, select:hover, button:hover {
    cursor: pointer;
}

/* Media queries */

@media(min-width: 350px) and (max-width: 515px) {
    form {
        padding-left: 5%;
    }
}

@media(min-width: 515px) {
    form {
        position: absolute;
        left: 0;
        right: 0;
        max-width: 100%;
        background-color: #1f2937;
        justify-content: center;
        gap: 1.6em;
    }
    
    .color-display {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        height: 100vh;
        margin: 0;
        max-width: 1200px;
    }
    
    .ind-color-div {
    flex-direction: column;
    width: 100%;
    height: 100%;
    }
    
    .color {
        width: 100%;
        height: 100%;
    }
    
    .hex-value{
        padding: 1em 0;
    }
}

@media(min-width: 600px) {
    form {
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
}

@media(min-width: 769px) {
    .color-input {
        height: 2.8em;
        width: 4.2em;
    }
    
    select, option, label {
        font-size: 1.3rem;
    }
    
    .count-input {
        width: 3.71em
    }
    
    button, .hex-value {
        font-size: 1rem;
    }
    
    form {
        padding: 2em 0;
    }
    
    .hex-value {
        padding: 1.2em 0;
    }
}

@media(min-width: 1200px) {
    form {
        gap: 3em;
    }
    
    .color-input {
        height: 3.3em;
        width: 4.7em;
    }
    
    .color-display {
        margin: 0 auto;
    }
    
    select, option, label {
        font-size: 1.6rem;
    }
    
    .count-input {
        width: 3.55em
    }
    
    button, .hex-value {
        font-size: 1.2rem;
    }
    
    form {
        padding: 2.5em 0;
    }
    
    .hex-value {
        padding: 1.4em 0;
    }
}