html, body {
    margin: 0;
    padding: 0;
}

/* Typography */

/* Layout */
.color-input {
}

.mode-input {
    width: 11.2em
}

.color {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}